.wrapper {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -100%);
  }
  .wrapper .dynamic-texts {
    height: 50px;
    line-height: 50px;
    padding-top: 50px;
  }
  .dynamic-texts li {
    list-style: none;
    color: #e2d1d1;
    font-size: 40px;
    font-weight: 500;
    position: relative;
    width: 100%;
    top: 0;
    animation: slide 12s steps(4) infinite;
  }

  @media screen and (max-width: 1169px) {
    .dynamic-texts li {
      font-size: 34px;
    }
    .wrapper .dynamic-texts {
      width: 600px;
    }
  }
  @media screen and (max-width: 599px) {
    .dynamic-texts li {
      font-size: 25px;
    }
    .wrapper .dynamic-texts {
      width: 600px;
    }
    .dynamic-texts li span::after {
      height: 50px !important;
    }
    .wrapper {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  @media screen and (max-width: 480px) {
    .dynamic-texts li {
      font-size: 14px;
    }
    .wrapper .dynamic-texts {
      width: 600px;
    }
    .dynamic-texts li span::after {
      height: 50px !important;
    }
  }

  @keyframes slide {
    100% {
      top: -360px;
    }
  }
  .dynamic-texts li span {
    position: relative;
    margin: 5px 0;
    line-height: 90px;
    width: auto;
  }
  .dynamic-texts li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100% !important;
    background: #c70505;
    margin-top: 20px;
    border-left: 2px solid black;
    animation: typing 3s steps(10) infinite;
  }
  @keyframes typing {
    40%,
    60% {
      left: calc(100% + 20px);
    }
    100% {
      left: 0;
    }
  }